body {
  font-size: 18px;
}

main {

}

.container {
  margin: 5em auto;
}

.container div {
  padding: 2em;
}

.todays-date,
.math-class,
.quote {
  margin: auto;
  align-items: center;
  color: white;
}

.todays-date h3,
.math-class h3,
.quote h3 {
  font-size: 1.6em;
  text-align: center;
}

.todays-date p,
.math-class p,
.quote p {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.6;
}

/* For now I'm using negative values
but I want to learn what else I can do instead*/

.todays-date {
  font-family: 'Yomogi', cursive;
  background-color: purple;
  padding: 10px;
  margin-left: 15%;
  margin-bottom: -1em;
  width: 40%;
}

.math-class {
  font-family: 'Press Start 2P', cursive;

  background-color: pink;
  margin-right: 10%;
  margin-bottom: -1em;
  width: 50%;
}

.quote {
  font-family: 'Merienda', cursive;
  background-color: blue;
  width: 70%;
}


.hide {
  display: none;
}
