body {
  font-size: 18px;
}

main {

}

.container {
  margin: 5em auto;
}

.container div {
  padding: 2em;
  border-radius: 25%;
  margin: auto;
  align-items: center;
  color: white;
}

.container img {
  align-items: center;
  padding: auto;
  width: 90%;
}

.container h2 {
  font-size: 1.8em;
  text-align: center;
}

.container h3 {
  font-size: 1.6em;
  text-align: center;
}

.container p {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.6;
}

/* For now I'm using negative values
but I want to learn what else I can do instead*/



.hide {
  display: none;
}
