body {
  font-size: 18px;
}

main {

}

.container {
  margin:10em auto
}

.todays-date,
.math-class,
.password,
.quote {
  height: 20em;
  margin: 5em auto;
  width: 20em;
  align-items: center;
}

.todays-date p,
.math-class p,
.password p,
.quote p {
  font-size: 1.6em;
  padding: 1.5em;
  text-align: center;
}

/* For now I'm using negative values
but I want to learn what else I can do instead*/

.todays-date {
  background-color: purple;
  color: white;
  padding: 10px;
  margin-left: 25em;
  margin-bottom: -7em;
  height: 24em;
  width: 24em;
}

.math-class {
  background-color: pink;
  margin-right: 13em;
  margin-bottom: -6em;
  height: 30em;
  width: 30em;
}

.password {
  background-color: yellow;
  margin-left: 12em;
  margin-bottom: -15em;
  height: 25em;
  width:25em;
}

.quote {
  background-color: blue;
  margin-right: 10em;
  height: 26em;
  width: 26em;
}


.hide {
  display: none;
}
